<nav class="nav header">
   	<div class="nav-pills ">
   		<div class="nav-center" id="section">
		    <a class="nav-item" ng-class="{active: $route.current.activetab == '/'}" href="/">
				INICIO
			</a>
			<a class="nav-item" ng-class="{active: $route.current.activetab == '/aboutUs'}" href="/aboutUs">
			    DÓNDE ESTAMOS
			</a>
			<a class="nav-item" ng-class="{active: $route.current.activetab == '/guitars'}" href="/guitars">
			    NUESTRAS GUITARRAS
			</a>
			<a class="nav-item" ng-class="{active: $route.current.activetab == '/news'}" href="/news">
       	 		NOTICIAS
      		</a>
			<a class="nav-item" ng-class="{active: $route.current.activetab == '/contact'}" href="/contact">
			    CONTACTA
			</a>
		</div>
	</div>
</nav>

