<div class="viewer">
	<div id="my-menus">
		<header header-section-directive id="menuSection">
		</header>
	</div>
	<a href="/"><img class="logoSection" src="./data/img/nimboTrans.png"></a>
	<div class="text" id="contact">
		<ul>Puedes ponerte en contacto con nosotros en:
			<li><img src="./data/img/png/email.png"> E-mail: nimboguitarras@gmail.com</li>
			<li><img src="./data/img/png/telefono.png"> Teléfono: 645329135 / 606237451</li>
			<li><a href=""></a><img src="./data/img/png/facebook.png"> Nimbo Guitarras</li>
			<li><a ng-class="{active: $route.current.activetab == '/contact'}" href="/contact"> O a través de nuestro formulario</a></li>
		</ul>	
	</div>
	<div style="width: 99%; height: 100%">
		<map id="map" center="[40.295691, -3.809452]" zoom="10" style="width: 70%; height: 450px"> 
			<marker position="[40.295691, -3.809452]" icon="./data/img/nimbologo.png" />
		</map>
	</div>
</div>